@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    width: 1280px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: black;
    vertical-align: top;
}

.navigation {
    display: flex;
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}

.header-logo {
    width: 140px;
    margin-left: 70px;
    margin-right: 30px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 390px;
}

.navigation-user {
    width: 265px;
    margin-left: auto;
    margin-right: 70px;
}

.navigation-item-user {
    display: flex;
    justify-content: center;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: left;
    text-decoration: none;
}

.navigation-link-user {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
}

.navigation-link-user-like {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
}

.button-navigation-user {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-welcome-logo {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    min-height: 485px;
}

.logo-welcome {
    display: block;
    margin: 0 auto;
}

.main-welcome {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
}

.visually-hidden {
    visibility: hidden;
}

.welcome-text {
    color: #333333;
    text-align: center;
}

ol {
    list-style: none;
}

ul {
    list-style: none;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.advantages-item,
.advantages-description-block {
    display: flex;
    width: 400px;
    height: 384px;
}

.advantages-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
}

.advantages-description-block {
    padding: 0;
    width: 100%;
}

.advantages-description-text {
    font-size: 18px;
    line-height: 21px;
}

.real-town,
.devil-bridge {
    color: #ffffff;
    background-color: #82B3D3;
    width: 100%;
    display: flex;
}

.souvenir,
.housing,
.small-area,
.little-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    color: #333333;
}

.beautiful-road {
    background-color: rgba(131, 179, 211, 0.2);
    color: #333333;
}

.food {
    color: #333333;
}

.serch-hotel {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.serch-hotel-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.serch-hotel-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
    color: #333333;
}

.button-serch-hotel {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.subscribe-user {
    background-image: url("../images/subscribe-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.page-footer-container {
    width: 1200px;
    display: flex;
    margin: auto;
}

.subscribe-user-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-subscribe-form {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    margin-left: 40px;
}

.footer-contact {
    width: 720px;
    margin: auto;
}

.footer-logo {
    width: 170px;
    margin-right: 40px;
}

.contact-tel {
    font-size: 40px;
    line-height: 40px;
}

.hotel-filter-catalog {
    width: 1200px;
    padding: 35px 70px 70px 70px;
}

.catalog-filter {
    display: flex;
    width: 1200px;
}

.product-list {
    display: flex;
    width: 1056px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    height: 438px;
}

.product-card-Amara-Resort {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.product-card-Desert-Quail {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.product-card-Villas-Poco-Diablo {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.product-card-GreenTree-Inn {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.hotel-result {
    display: flex;
    width: 1057px;
    margin: 50px 71px 56px 73px;
}

.catalog-pagination {
    display: flex;
    flex-wrap: wrap;
    min-height: auto;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.filter-hotel {
    background-image: url("../images/filter-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
}

.hotel-main-text {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #ffffff;
}

.breadcrumb {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.navigation-link-breadcrumb {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-group,
.catalog-filter-price {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 21px;
}

.button-input-catalog {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-transform: uppercase;
}

.button-reset-catalog {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.25);
}

.serch-hotel {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.select-control-price-hotel {
    color: #333333;
}

.select-control-price-hotel {
    font-size: 18px;
    line-height: 21px;
}

.product-card-house {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-rating {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.product-card-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button-detail {
    background-color: #756157;
}

.product-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: black;
}

.product-card-link-title {
    text-decoration: none;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.select-hotel {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.select-control-quantity-hotel {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}