@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
}

body {
    /*width: 1200px;
    background-color: #FFFFFF;*/
    width: 1280px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: black;
    vertical-align: top;
}

.page-header {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}


.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header-logo {
    width: 140px;
    margin-left: 70px;
    margin-right: 30px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 390px;
    list-style-type: none;
}

.navigation-item {
    padding: 20px 17px;
    display: flex;
    flex-wrap: wrap;
    display: block;
}

.navigation-user {
    width: 265px;
    margin-left: auto;
    margin-right: 70px;
    padding: 0px;
}

.navigation-item-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: block;
    min-width: 42px;
    min-height: 24px;
    padding: 20px 0px;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: left;
    text-decoration: none;
}

.navigation-link-user {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;

}

.navigation-link-user-like {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;

}

.button-navigation-user {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;

}

.main-container {
    flex-grow: 1;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-welcome-logo {
    background-image: url("../images/index-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    min-height: 485px;
}

.logo-welcome {
    display: block;
    margin: 0 auto;
}

.main-welcome {
    display: block;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.welcome-text {
    display: block;
    margin: 0 auto;
    margin-bottom: 90px;
    color: #333333;
    text-align: center;
}

.advantages-list-icon {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.advantages-item:first-child {
    width: 100%;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
}

.advantages-real-city,
.advantages-devil-bridge {
    padding: 92px 85px;
}

.advantages-housing,
.advantages-food,
.advantages-souvenir {
    padding-top: 80px;
}

.advantages-small-area,
.advantages-beautiful-road,
.advantages-little-tourists {
    padding: 103px 85px;
}

.advantages-item,
.advantages-description-block {
    width: 400px;
    min-height: 384px;
    list-style-type: none;
    padding: 0;
}

.advantages-title,
.advantages-title-block {
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.advantages-title-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.advantages-description {
    margin: 30px auto;
    font-size: 18px;
    line-height: 21px;
}

.advantages-description-text {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.real-town,
.devil-bridge {
    color: #ffffff;
    background-color: #82B3D3;
    width: 100%;
    display: flex;
}

.souvenir,
.housing,
.small-area,
.little-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    color: #333333;
}

.beautiful-road {
    background-color: rgba(131, 179, 211, 0.2);
    color: #333333;
}

.food {
    color: #333333;
}

.serch-hotel-title {
    margin: 0 auto;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.serch-hotel-text {
    margin: 0 auto;
    margin-bottom: 56px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    color: #333333;
}

.button-serch-hotel {
    margin: 0 auto;
    margin-bottom: 93px;
    width: 574px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.subscribe-user {
    background-image: url("../images/subscribe-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.paige-footer {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.subscribe-user-title {
    margin: 0 auto;
    padding-top: 94px;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe-user-text {
    margin: 0 auto;
    margin-bottom: 46px;
}

.subscribe-form-wrapp {
    margin: 0 auto;
    margin-bottom: 94px;
}

.button-subscribe-form {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
}

.page-footer-container {
    /*display: flex;
    flex-wrap: wrap;*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 70px 30px 70px;
    margin: 0;
}

.footer-social-item {
    list-style-type: none;
    display: flex;
    min-width: 48px;
    min-height: 40px;
    padding: 0;
}

.footer-contact {
    width: 720px;
    margin: auto;
    text-align: center;
}

.footer-logo {
    width: 170px;
}

.contact-tel {
    font-size: 40px;
    line-height: 40px;
}

.hotel-filter-catalog {
    padding: 35px 70px 70px 70px;
}

.hotel-main-text {
    margin: 0;
    margin-bottom: 10px;
    width: 495px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
}

.breadcrumb-home {
    margin-right: 25px;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-group {
    width: 150px;
    margin: 0;
    margin-right: 50px;
    margin-bottom: 30px;
    padding: 0;
    border: none;
}

.catalog-filter-house {
    width: 150px;
    margin: 0;
    margin-bottom: 30px;
    margin-right: 175px;
    padding: 0;
    border: none;
}

.catalog-filter-price {
    width: 288px;
    margin: 0;
    padding: 0;
    border: none;
}

.catalog-filter-price-title {
    margin-bottom: 34px;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-item {
    margin-bottom: 15px;
}

.catalog-filter-item:nth-child(3n) {
    margin-bottom: 0px;
}

.button-catalog {
    padding-top: 60px;
}

.hotel-serch-sorting {
    padding: 0;
    margin: 0 auto;
}

.hotel-result {
    display: flex;
}

.serch-hotel {
    padding: 0;
    padding-top: 57px;
    padding-left: 72px
}

.select-control-price-hotel {
    margin: 50px 78px 56px 191px;
}

.button-select-list {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 71px 57px 0;
    padding: 0;
    list-style-type: none;
}

.button-select-item {
    min-width: 48px;
    min-height: 48px;
}

.button-select-item:not(:last-child) {
    margin-right: 8px;
}

.product-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 0px 18px;
    list-style-type: none;
    width: 1056px;
    padding: 0;
    margin: 0 auto;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    width: 340px;
    min-height: 438px;
    flex-grow: 1;
}

.Amara-Resort {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.Poco-Diablo {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.Desert-Quail {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.GreenTree-Inn {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.product-card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    flex-grow: 1;
}

.list-stars-product-card {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.list-stars-rating {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.product-house-price {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 16px;
    justify-content: space-between;
}

.product-card-image {
    padding: 20px;
}

.card-button {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 16px;
}

.product-card-price {
    padding-right: 60px;
}


.catalog-pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    list-style-type: none;
    width: auto;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 270px;
    width: auto;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 23px;
    line-height: 16px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
}

.catalog-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.filter-hotel {
    background-image: url("../images/filter-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
}

.hotel-main-text {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #ffffff;
}

.breadcrumb {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.navigation-link-breadcrumb {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-group,
.catalog-filter-price {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 21px;
}

.button-input-catalog {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-transform: uppercase;
}

.button-reset-catalog {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.25);
}

.serch-hotel {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.select-control-price-hotel {
    color: #333333;
}

.select-control-price-hotel {
    font-size: 18px;
    line-height: 21px;
}

.product-card-house {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-rating {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    padding-right: 20px;
}

.product-card-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button-detail {
    background-color: #756157;
}

.product-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: black;
    padding: 0;
    margin: 0;
    padding-bottom: 16px;
}

.product-card-link-title {
    text-decoration: none;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.select-hotel {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    padding: 20px 51px 17px 0px;
}

.select-control-quantity-hotel {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 71px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.select-quantity-hotel {
    padding: 10px;
    margin: 30px;
    width: 150px;
}