@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
}

body {
    width: 1280px;
    background-color: #F2F2F2;
    margin: 0 auto;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: black;
}

.page-header {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}


.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header-logo {
    display: block;
    position: absolute;
    width: 140px;
    margin-left: 65px;
    margin-right: 28px;
    z-index: 1;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    padding-left: 235px;
    width: 390px;
    list-style-type: none;
}

.navigation-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 17px;
    display: flex;
    flex-wrap: wrap;
    display: block;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    min-width: 265px;
    margin: 0;
    margin-left: auto;
    padding: 0px;
}

.navigation-item-user {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    display: block;
    min-width: 42px;
    padding-top: 14px;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: left;
    text-decoration: none;
    padding-top: 19px;
    padding-bottom: 19px;
}

.navigation-link-current::before {
    position: absolute;
    right: 16px;
    bottom: 0;
    left: 16px;
    border: 1px solid #756257;
    content: "";
}

.navigation-icon {
    position: absolute;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 66px;
    margin: auto;
    margin: 0;
}

.figure {
    padding: 14px 2px 1px 14px;
    top: 0;
}

.navigation-btn {
    padding-left: 74px;
}

.button-navigation-user {
    display: inline-block;
    padding: 9px 35px 9px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.button-navigation-user:hover {
    background-color: #615048;
}

.button-navigation-user:focus {
    background-color: #615048;
}

.button-navigation-user:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
}

.button-navigation-user:disabled:hover {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.main-container {
    flex-grow: 1;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-welcome-logo {
    background-image: url(../images/divider-main.svg), url("../images/index-background.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top;
    margin: 0 auto;
    padding-top: 50px;
    min-height: 434px;
}

.logo-welcome {
    display: block;
    margin: 0 auto;
}

.main-welcome {
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 31px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
    padding-top: 62px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-welcome-text {
    min-height: 282px;
}

.welcome-text {
    display: block;
    margin: 0 auto;
    color: #333333;
    text-align: center;
}

.advantages-list-icon {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.advantages-item:first-child {
    width: 100%;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
}

.advantages-real-city,
.advantages-devil-bridge {
    padding: 92px 85px;
}

.advantages-housing,
.advantages-food,
.advantages-souvenir {
    padding-top: 80px;
}

.advantages-small-area,
.advantages-beautiful-road,
.advantages-little-tourists {
    padding: 103px 85px;
}

.advantages-item,
.advantages-description-block {
    width: 400px;
    min-height: 384px;
    list-style-type: none;
    padding: 0;
}

.advantages-title,
.advantages-title-block {
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.advantages-title-block {
    padding-top: 27px;
    padding-bottom: 29px;
}

.advantages-description {
    margin: 30px auto;
    font-size: 18px;
    line-height: 21px;
}

.advantages-description-text {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.real-town,
.devil-bridge {
    color: #ffffff;
    background-color: #82B3D3;
    width: 100%;
    display: flex;
}

.souvenir,
.housing,
.small-area,
.little-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    color: #333333;
}

.beautiful-road {
    background-color: rgba(131, 179, 211, 0.2);
    color: #333333;
}

.housing-text {
    padding-right: 117px;
    padding-left: 114px;
}

.food-text {
    padding-right: 87px;
    padding-left: 85px;
}

.souvenir-text {
    padding-right: 54px;
    padding-left: 50px;
}

.food {
    color: #333333;
}

.serch-hotel-main {
    min-height: 417px;
}

.serch-hotel-title {
    margin: 0 auto;
    padding-bottom: 29px;
    padding-top: 88px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.serch-hotel-text {
    margin: 0 auto;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    color: #333333;
}

.serch-hotel-text2 {
    padding-bottom: 56px;
    padding-right: 18px;
}

.button-serchhotel {
    text-align: center;
    padding-top: 12px;
}

.button-serch-hotel {
    margin: 0 auto;
    padding: 17px 151px 17px 151px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 545px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button-serch-hotel:hover {
    background-color: #615048;
}

.button-serch-hotel:focus {
    background-color: #615048;
}

.button-serch-hotel:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
}

.button-serch-hotel:disabled:hover {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.subscribe-form {
    padding-left: 25px;
    width: 562px;
    border-radius: 12px 0 0 12px;
    background: #F2F2F2;
    border: none;
    font-size: 18px;
    line-height: 21px;
}

.subscribe-user {
    background-image: url("../images/subscribe-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1200px;
    min-height: 411px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.subscribe-user-catalog {
    min-height: 411px;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    padding-top: 3px;
    padding-right: 8px;
}

.paige-footer {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.subscribe-user-title {
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 29px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe-user-text {
    margin: 0 auto;
    padding-bottom: 46px;
}

.subscribe-form-wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.subscribe-form-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-subscribe-form {
    width: 200px;
    padding: 12px 15px 12px 15px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
}

.button-subscribe-form:hover {
    background-color: #68A2CA;
}

.button-subscribe-form:focus {
    background-color: #68A2CA;
}

.button-subscribe-form:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.button-subscribe-form:disabled:hover {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-bottom: 35px;
}

.footer-social-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 145px;
    padding: 0;
    padding-left: 76px;
    padding-top: 23px;
    margin: 0;
}

.footer-social-item {
    list-style-type: none;
    display: flex;
    min-width: 48px;
    min-height: 40px;
    padding: 0;
    padding-top: 21px;
}

.footer-contact {
    width: 720px;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    padding-top: 41px;
    padding-right: 12px;
}

.footer-logo {
    width: 115px;
    display: block;
    padding-top: 23px;
    padding-right: 74px;
    fill: #000;
}

.footer-logo:hover svg {
    fill: #756157;
}

.footer-logo:focus svg {
    fill: #756157;
}

.footer-logo:active svg {
    fill: rgba(117, 97, 87, 0.3);
}

.footer-logo svg:hover {
    fill: #756157;
}

.footer-logo svg:focus {
    fill: #756157;
}

.footer-logo svg:active {
    fill: rgba(117, 97, 87, 0.3);
}

.contact-tel {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 40px;
    line-height: 40px;
    padding-top: 43px;
    padding-right: 13px;
}

.contact-tel:hover {
    color: #756157;
}

.contact-tel:focus {
    color: #756157;
}

.contact-tel:active {
    color: rgba(117, 97, 87, 0.3);
}

.footer-social-link {
    position: relative;
}

.footer-social-link:hover svg {
    fill: #68A2CA;
}

.footer-social-link:focus svg {
    fill: #68A2CA;
}

.footer-social-link:active svg {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link svg:hover {
    fill: #68A2CA;
}

.footer-social-link svg:focus {
    fill: #68A2CA;
}

.footer-social-link svg:active {
    fill: rgba(104, 162, 202, 0.3);
}

.social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;

}

.hotel-filter-catalog {
    padding-bottom: 26px;
}

.hotel-main-text {
    margin: 0;
    padding-top: 34px;
    padding-left: 66px;
    width: 495px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumb-home-button {
    position: relative;
}

.breadcrumb-home {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: white;
}

.navigation-link-breadcrumb:active svg {
    fill: rgba(255, 255, 255, 0.3);
}

.navigation-link-breadcrumb:hover svg {
    fill: rgba(255, 255, 255, 0.6);
}

.catalog-filter {
    display: flex;
    padding-left: 65px;
}

.catalog-filter-group {
    width: 150px;
    margin: 0;
    margin-right: 36px;
    padding: 0;
    padding-bottom: 30px;
    border: none;
}

.catalog-filter-house {
    width: 150px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    margin-right: 85px;
    padding: 0;
    padding-bottom: 30px;
    border: none;
}

.catalog-filter-price {
    width: 288px;
    margin: 0;
    padding: 0;
    border: none;
}

.price-control {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 43px;
    margin-bottom: 28px;
    font-size: 0;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}

.price-control label {
    display: inline-block;
    font-size: 14px;
    line-height: 34px;
    vertical-align: top;
    cursor: pointer;
}

.price-control .max-price,
.price-control .min-price {
    width: 140px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.price-control input {
    width: 55px;
    margin: 0;
    padding-right: 35px;
    color: inherit;
    font: inherit;
    background: 0 0;
    border: 0;
    outline: 0;
}

.range-control {
    position: relative;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.price-control:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 2px;
    height: 45px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.range-control .scale {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, .3);
}

.range-control .bar {
    width: 80%;
    height: 4px;
    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -8px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.price-text {
    position: absolute;
    left: 112px;
    top: 10px;
}

.price-text-max {
    position: absolute;
    left: 250px;
    top: 10px;
}

.min-price:hover {
    opacity: 0.6;
    border-radius: 4px 0px 0px 4px;
}

.range-input {
    padding-top: 11px;
    padding-left: 16px;
}

.range-input:focus {
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 0px 3px #81B3D2;
    border-radius: 4px 0px 0px 4px;
    padding-bottom: 10px;
    padding-left: 46px;
}

.min-price:active {
    background: #756257;
    border-radius: 4px 0px 0px 4px;
}

.max-price:hover {
    opacity: 0.6;
    border-radius: 4px 0px 0px 4px;
}

.max-price:active {
    background: #756257;
    border-radius: 4px 0px 0px 4px;
}

.range-toggle:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
    background: #FFFFFF;
    border: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
    background: #FFFFFF;
    border: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 75%;
}

.catalog-filter-price-title {
    padding-bottom: 34px;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-item {
    padding-bottom: 15px;
}

.catalog-filter-item:nth-child(3n) {
    margin-bottom: 0px;
}

.control-input-check {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: 0;
}

.control-input-radio {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
}


.button-catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 70px;
}

.hotel-serch-sorting {
    padding: 0;
    margin: 0 auto;
}

.hotel-result {
    display: flex;
    padding-bottom: 32px;
}

.select-control-price-hotel {
    margin-left: 190px;
    margin-right: 18px;
}

.button-select-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-left: 299px;
    padding-bottom: 40px;
    list-style-type: none;
}

.button-select-item {
    position: relative;
    min-width: 48px;
    min-height: 48px;
}

.button-list {
    position: absolute;
    top: 97px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    min-width: 48px;
    min-height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.button-list:hover {
    border: 2px solid #000000;
}

.button-list:focus {
    border: 2px solid #68A2CA;
}

.button-list:active {
    border: 2px solid #000000;
}

.button-item {
    padding-top: 14px;
    padding-left: 12px;
}

.button-select-item:not(:last-child) {
    margin-right: 8px;
}

.button-item:not(:last-child) {
    margin-right: 8px;
}

.product-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 0px 18px;
    list-style-type: none;
    width: 1056px;
    padding: 0;
    margin: 0 auto;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    width: 340px;
    min-height: 438px;
    flex-grow: 1;
}

.amara-resort {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.poco-diablo {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.desert-quail {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.greentree-inn {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.product-card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 21px 20px 16px;
    padding-bottom: 0;
    flex-grow: 1;
}

.list-stars-product-card {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.product-card-rating-stars {
    padding-right: 5px;
}

.list-stars-rating {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.product-house-price {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 14px;
    justify-content: space-between;
}

.product-card-image {
    padding: 20px;
    padding-top: 47px;
    padding-bottom: 12px;
    padding-left: 18px;
}

.card-button {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 20px;
}

.product-card-price {
    padding-right: 64px;
}


.catalog-pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    list-style-type: none;
    width: auto;
    padding-top: 86px;
    padding-left: 70px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 25px;
    width: 400px;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    padding: 12px 19px;
    line-height: 16px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
}

.pagination-link-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-link:hover {
    background-color: #68A2CA;
    border: 1px solid #82B3D3;
}

.pagination-link:focus {
    background-color: #68A2CA;
    border: 1px solid #82B3D3;
}

.pagination-link:active {
    background-color: #82B3D3;
    border: 1px solid #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.filter-hotel {
    background-image: url("../images/filter-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.hotel-main-text {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #ffffff;
}

.breadcrumb {
    position: relative;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 69px;
    padding-bottom: 40px;
}

.breadcrumb-catalog {
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

.breadcrumb-catalog:active {
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumb-catalog:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumb-arrow {
    padding-left: 10px;
}

.navigation-link-breadcrumb {
    position: relative;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-group,
.catalog-filter-price {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.control {
    position: relative;
    display: block;
    padding-left: 36px;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.control-input-check:hover+.control-mark {
    background: rgba(255, 255, 255, 0.6);
}

.control-input-check:focus+.control-mark {
    background: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
}

.control-input-check:active+.control-mark {
    background: rgba(255, 255, 255, 0.3);
}

.control-input-check[type="checkbox"]:checked+.control-mark {
    background-image: url(../images/checkbox-checked.svg);
    background-repeat: no-repeat;
}

.control-input-radio+.control-mark {
    border-radius: 50%;
}

.control-input-radio:hover+.control-mark {
    background: rgba(255, 255, 255, 0.6);
}

.control-input-radio:focus+.control-mark {
    background: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
}

.control-input-radio:active+.control-mark {
    background: rgba(255, 255, 255, 0.3);
}

.control-input-radio[type="radio"]:checked+.control-mark {
    background-image: url(../images/radio-button-checked.svg);
    background-repeat: no-repeat;
}

.control-label {
    padding-left: 6px;
}

.button-input-catalog {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #82B3D3;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-input-catalog:hover {
    background-color: #68A2CA;
}

.button-input-catalog:focus {
    background-color: #68A2CA;
}

.button-input-catalog:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.button-input-catalog:disabled:hover {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.button-reset-catalog {
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.25);
}

.button-reset-catalog:hover {
    opacity: 0.6;
}

.button-reset-catalog:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.button-reset-catalog:active {
    opacity: 0.3;
}

.serch-hotel {
    padding-top: 61px;
    padding-left: 69px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 169px;
    margin-right: 75px;
}

.select-control-price-hotel {
    width: 100%;
    padding: 8px 19px;
    padding-right: 48px;
    font: inherit;
    background-image: url("../images/vector-select.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
}

.select-control-price-hotel {
    color: #333333;
}

.select-control-price-hotel {
    margin-top: 53px;
    font-size: 18px;
    line-height: 21px;
    min-width: 290px;
    padding-top: 14px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.select-control-price-hotel:hover {
    border: 2px solid #68A2CA;
}

.select-control-price-hotel:focus {
    border: 2px solid #68A2CA;
}

.select-control-price-hotel:active {
    border: 2px solid #3F5E72;
}

.select-control-price-hotel:disabled:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
    cursor: default;
}

.product-card-house {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-rating {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    padding-right: 25px;
}

.product-card-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px;
    padding-left: 23px;
    padding-right: 23px;
}

.button-detail {
    background-color: #756157;
    padding-left: 26px;
    padding-right: 25px;
}

.button-detail:hover {
    background-color: #615048;
}

.button-detail:focus {
    background-color: #615048;
}

.button-detail:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
}

.button-detail:disabled:hover {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.button-favourit {
    padding-left: 20px;
    padding-right: 22px;
}

.button-favourit:hover {
    background-color: #68A2CA;
}

.button-favourit:focus {
    background-color: #68A2CA;
}

.button-favourit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.button-favourit:disabled:hover {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.product-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: black;
    padding: 0;
    margin: 0;
    padding-bottom: 16px;
}

.product-card-link-title {
    text-decoration: none;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.select-hotel {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-right: 43px;
}

.select-control-quantity-hotel {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.select-quantity-hotel {
    margin-left: 6px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.select-quantity-hotel {
    width: 100%;
    padding: 12px 21px;
    font: inherit;
    background-image: url("../images/vector-select.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
}

.select-quantity-hotel:hover {
    border: 2px solid #68A2CA;
}

.select-quantity-hotel:focus {
    border: 2px solid #68A2CA;
}

.select-quantity-hotel:active {
    border: 2px solid #3F5E72;
}

.select-quantity-hotel:disabled:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
    cursor: default;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    ;
}

.modal {
    position: relative;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal-auth {
    width: 715px;
    min-height: 561px;
    margin-top: 400px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 53px;
    right: 71px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #F2F2F2;
    border: none;
    background-image: url("../images/btn-close-modal.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    background: #E6E6E6;
    border: 3px solid #83B3D3;
}

.modal-close-button:active {
    background-color: #E6E6E6;
    opacity: 0.3;
}

/*ОТКРЫТИЕ/ЗАКРЫТИЕ Модадьного Окна*/
.modal-close {
    display: none;
}

.modal-title {
    font-family: 'PT Sans', serif, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 62px;
    padding-left: 68px;
}

.arrival-form,
.departure-form {
    position: relative;
    margin-bottom: 5px;
}

.search-form .date {
    width: 400px;
    padding: 10px;
}

.search-form input[type=text],
.search-form label {
    margin: 45px 0 15px 69px;
    font-size: 20px;
    line-height: 26px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    color: #000;
}

.search-form input[type=text] {
    background: #F2F2F2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 38px;
    padding-left: 13px;
    margin-top: 33px;
    margin-bottom: 7px;
    opacity: 0.6;
}

.date:hover {
    background-color: #E6E6E6;
}

.date:focus {
    background-color: #E6E6E6;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.date:active {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 4px;
}

.arrival-form label,
.departure-form label {
    display: block;
    float: left;
    width: 121px;
    margin-top: 44px;
}

.search-form .btn-calendar {
    position: absolute;
    top: 117px;
    right: 89px;
    content: "";
    width: 15px;
    height: 15px;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: url(../images/modal-calendar.svg) no-repeat center;
}

.search-form .btn-departure {
    top: 51px;
}

.modal-text {
    position: absolute;
    font-family: 'PT Sans', serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    color: #333333;
    padding-top: 2px;
    padding-left: 225px;
}

.arrival-text {
    color: #FF5757;
}

.adults-form,
.children-form {
    position: relative;
}

.adults-form {
    min-width: 370px;
    margin: 0;
    float: left;
    margin-right: 44px;
}

.adults-form label {
    margin-right: 21px;
}

.children-form label {
    margin: 0;
}

.form-label-modal {
    position: relative;
}

.form-label-icon {
    position: relative;
}

.tooltip {
    position: absolute;
}

.btn-info-modal {
    position: absolute;
    top: 46px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background: #83B3D3;
    cursor: pointer;
}

.tooltip-icon {
    width: 100%;
    height: 50%;
    display: block;
}

.btn-info-modal:hover {
    color: #68A2CA;
}

.tooltip-text {
    align-items: center;
    width: 218px;
    min-height: 110px;
    background-color: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    padding: 15px 18px 18px 22px;
    border-radius: 10px;
    position: absolute;
    margin-left: 13px;
    margin-top: 87px;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
}


.btn-info-modal:hover+.tooltip-text,
.btn-info-modal:focus+.tooltip-text {
    display: block;
}


.adults-form input[type=text],
.children-form input[type=text] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 133px;
    padding: 12px 1px;
    text-align: center;
}

.adults-form .btn-minus {
    position: absolute;
    top: 58px;
    left: 242px;
    content: "";
    width: 13px;
    height: 1px;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.3;
}

.adults-form .btn-plus {
    position: absolute;
    top: 58px;
    left: 325px;
    content: "";
    width: 13px;
    height: 1px;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.3;
}

.children-form .btn-minus {
    position: absolute;
    top: 58px;
    left: 530px;
    content: "";
    width: 13px;
    height: 1px;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.3;
}

.children-form .btn-plus {
    position: absolute;
    top: 58px;
    left: 611px;
    content: "";
    width: 13px;
    height: 1px;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.3;
}

.search-form .btn-search {
    display: block;
    width: 572px;
    padding: 12px 180px;
    margin: 0 auto;
    margin-top: 31px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    color: #fff;
    background: #83B3D3;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.btn-minus:hover {
    background-color: #000000;
}

.btn-minus:focus {
    background-color: #000000;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.btn-minus:active {
    background: #000000;
    opacity: 0.2;
}

.btn-plus:hover {
    background-color: #000000;
}

.btn-plus:focus {
    background-color: #000000;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.btn-plus:active {
    background: #000000;
    opacity: 0.2;
}

.btn-search:hover {
    background-color: #68A2CA;
}

.btn-search:focus {
    background-color: #68A2CA;
    border: 3px solid #756257;
}

.btn-search:active {
    background-color: #68A2CA;
    opacity: 0.3;
}